{% extends "base.html.twig" %}

{% block title %}Woonplaatsen, wijken en buurten in Rotterdam{% endblock %}

{% block body %}
    <h1>Woonplaatsen, wijken en buurten in Rotterdam</h1>
    <table>
        <thead>
            <tr>
                <th>Woonplaats</th>
                <th>Wijk</th>
                <th>Buurt</th>
                <th class="check">In <a href="https://api.pdok.nl/bzk/locatieserver/search/v3_1/ui/">PDOK</a></th>
                <th class="check">In <a href="https://mor-core.forzamor.nl">Mor Core</a></th>
            </tr>
        </thead>
        <tbody>
            {% for woonplaats in woonplaatsen %}
                <tr>
                    <td class="group-1" colspan="3">
                        {{ woonplaats.naam }}
                        <abbr title="{{ woonplaats.uuid }}">ℹ️</abbr>
                        <br>
                        <code>{{ woonplaats.code }}</code>
                    </td>
                    <td class="check">
                        {% if woonplaats.inPdok %}
                            <abbr title="{{ woonplaats.lastSeenInPdok|date('d-m-Y H:i') }}">✅</abbr>
                        {% else %}
                            ⚠️
                        {% endif %}
                    </td>
                    <td class="check">
                        {% if woonplaats.inMorCore %}
                            <abbr title="{{ woonplaats.lastSeenInMorCore|date('d-m-Y H:i') }}">✅</abbr>
                        {% else %}
                            ⚠️
                        {% endif %}
                    </td>
                </tr>
                {% for wijk in woonplaats.wijken %}
                    <tr>
                        <td>&nbsp;</td>
                        <td class="group-2" colspan="2">
                            {{ wijk.naam }}
                            <abbr title="{{ wijk.uuid }}">ℹ️</abbr>
                            <br>
                            <code>{{ wijk.code }}</code>
                        </td>
                        <td class="check">
                            {% if wijk.inPdok %}
                                <abbr title="{{ wijk.lastSeenInPdok|date('d-m-Y H:i') }}">✅</abbr>
                            {% else %}
                                ⚠️
                            {% endif %}
                        </td>
                        <td class="check">
                            {% if wijk.inMorCore %}
                                <abbr title="{{ wijk.lastSeenInMorCore|date('d-m-Y H:i') }}">✅</abbr>
                            {% else %}
                                ⚠️
                            {% endif %}
                        </td>
                    </tr>
                    {% for buurt in wijk.buurten %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                {{ buurt.naam }}
                                <abbr title="{{ buurt.uuid }}">ℹ️</abbr>
                                <br>
                                <code>{{ buurt.code }}</code>
                            </td>
                            <td class="check">
                                {% if buurt.inPdok %}
                                    <abbr title="{{ buurt.lastSeenInPdok|date('d-m-Y H:i') }}">✅</abbr>
                                {% else %}
                                    ⚠️
                                {% endif %}
                            </td>
                            <td class="check">
                                {% if buurt.inMorCore %}
                                    <abbr title="{{ buurt.lastSeenInMorCore|date('d-m-Y H:i') }}">✅</abbr>
                                {% else %}
                                    ⚠️
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}